.container .circle1{
	width: 200px;
	height: 200px;
	border-radius:50% ;
	background:conic-gradient(
		yellow,
		red,
		green
		) ;
	
}

.container .circle2{
	width: 200px;
	height: 200px;
	border-radius:50% ;
	background:conic-gradient(
		#42f5e0,
		#ec42f5,
		#4bf542
		);
}

.container .circle3{
	width: 200px;
	height: 200px;
	border-radius:50% ;
	background:conic-gradient(
		rgba(182,85,127,1.00),
		rgba(146,196,127,1.00),
		rgba(235,224,127,1.00)
		);
}

.container .circle4{
	width: 200px;
	height: 200px;
	border-radius:50% ;
	/*background:conic-gradient(
		yellow,
		red,
		green
		) ;*/

		background: conic-gradient(
			red 25%,
			yellow 0 60%,
			blue 0 85%,
			green 0 100%
			);
	
}