.div1{
	width: 300px;
	height: 300px;
	background-color: green;
	color: white;
}
/*.div1:first-child{
	background-color: red;
}*/

/*.div1:first-of-type{
	background-color: red;
	
}*/

/*.div1:last-of-type{
	background-color: red;
}*/

/*.div1:nth-of-type(odd){
	background-color: yellow;
}*/

/*.div1:nth-of-type(even){
	background-color: yellow;
}*/

/*.div1:nth-child(odd){
	background-color: yellow;
}*/

.div1:nth-child(even){
	background-color: yellow;
}